<br>
<h1><b>GUSTAVO MARCELO NUÑEZ</b></h1><br>
<h5>DESARROLLADOR FULL-STACK</h5>
<br><br>
<div class="container">
    <div class="seccion1">
        <br>
        <img class="foto1" src="./assets/carpeta.png" alt="Not found!" routerLink="/my_projects">
        <br>
        <br>
        <button class="btn" routerLink="/my_projects"><strong>MIS PROYECTOS</strong>
        </button>
        <br><br>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="seccion2">
        <br>
        <img class="foto1" src="./assets/herramientas.png" alt="Not found!" routerLink="/development_tools">
        <br>
        <br>
        <button class="btn" routerLink="/development_tools"><strong>HERRAMIENTAS</strong>
        </button>
        <br><br>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="seccion3">
        <br>
        <img class="foto1" src="./assets/academia.png" alt="Not found!" routerLink="/academic_history">
        <br>
        <br>
        <button class="btn" routerLink="/academic_history"><strong>HISTORIA ACADÉMICA</strong>
        </button>
        <br><br>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="seccion4">
        <br>
        <img class="foto1" src="./assets/correo.png" alt="Not found!" routerLink="/contact">
        <br>
        <br>
        <button class="btn" routerLink="/contact"><strong>CONTACTO</strong>
        </button>
        <br><br>
    </div>
</div>
<br><br>
<div class="footer">
    <img class="foto2" src="./assets/ballena.png" alt="Not found!">
    <a style="font-style: italic;"
        href="https://es.wikipedia.org/wiki/Puerto_Madryn" target="_blank"> Puerto Madryn, Chubut. Argentina </a>
</div>